<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1">Value of Talent. Delivered.</span>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/samples" class="btn btn-info">Catalogue of samples</a></li>
            <li class="list-inline-item"><a routerLink="/play" class="btn btn-info">Play</a></li>
          </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


